#APP_ENV=dev
#APP_SECRET=SUPER_SECRET

#DB_NAME=studi_jobiz
#DB_HOST=db
#DB_USER=root
#DB_PASSWORD="Password_Secret"
#DB_PORT=3306

#DB_HOST_PROD =host
#DB_USER_PROD =user
#DB_PASSWORD_PROD =password
#DB_NAME_PROD =name
#DB_PORT_PROD =3306

#NGINX_PORT=8080
#PHPMYADMIN_PORT=8081


#DEFAULT_URI=http://localhost:8080
#VAR_DUMPER_SERVER=127.0.0.1:9912
#MAILER_DSN=null://null
#MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0